// Libraries
$grey00: #FFFFFF;
$grey20: #DBDDE2;
$grey40: #BDC0C6;
$grey60: #898F9A;
$grey100: #1D2532;

$main-font: #1D2532;
$gray-common: #898F9A;

#app {
  font-family: 'NanumSquareNeo_normal', 'sans-serif';
  font-size: 14px;
  color: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: 'NanumSquareNeo_normal';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/NanumSquareNeo-bRg.ttf') format('truetype')

}

@font-face{
  font-family: 'NanumSquareNeo_bold';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/NanumSquareNeo-cBd.ttf') format('truetype')
}

@font-face{
  font-family: 'NanumSquareNeo_extrabold';
  font-style: normal;
  font-weight: 800;
  src: url('@/assets/fonts/NanumSquareNeo-dEb.ttf') format('truetype')
}

@font-face{
  font-family: 'NanumSquareNeo_heavy';
  font-style: normal;
  font-weight: 900;
  src: url('@/assets/fonts/NanumSquareNeo-eHv.ttf') format('truetype')
}
// 입력창 위에 사용하는 라벨 전용
.input_label{
  font-size: 18px;
  margin-bottom: 8px;
  font-family: 'NanumSquareNeo_bold', 'sans-serif';
}
// 이미지 사용하는 체크박스 전용
#check_box{
  width: 24px;
  height: 24px;
  z-index: 1;
}
#check_box_img{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.blue_button{
  // width: 334px;
  width: 100%;
  height: 48px;
  background: #2B66F5;
  border-radius: 8px;
  margin-top: 32px;
  font-size: 16px;
  font-family: 'NanumSquareNeo_extrabold';
  color: #FFF;
}

.select-style {
  appearance: none;
  background: url('@/assets/arrow_down.png') no-repeat right 10px center;
  padding-right: 30px; /* 화살표 아이콘의 너비 + 여백 */
}