$color--black: #000;
$color--white: #fff;

// body{
//   position: relative;
//   font-family: 'NanumSquareNeo', sans-serif;
//   font-size:20px;
//   line-height: 24px;
//   font-style: normal;
//   font-weight: 800;
//   padding: 0 15px;
// }

img{
  background-color: transparent;
}

.layout{
  display: flex;
  flex-direction: column;
}

button{
  background-color: #fff;
  width: 57px;
  height: 32px;
  border: solid 1px #d0d3dd;
  border-radius: 40px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.bar-chart {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.base-bar{
  height: 30px;
  background-color: #F3F3F3;
  border-radius: 999px;
}

.bar {
  height: 30px;
  background: linear-gradient(270deg, #2B66F5 0%, #4BA6FE 100%);
  transition: width 0.5s ease;
  border-radius: 999px;
}

.bar span {
  display: block;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.bar-1 { width: 20%; }
.bar-2 { width: 40%; }
.bar-3 { width: 60%; }
.bar-4 { width: 80%; }
.bar-5 { width: 90%; }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}